:root{
    --main-text-color:#757575;
    --titles-color:#212121;
    --accent-color:#2196F3;
    --footer-background:#2196F3;
    --section-background:#F5F4FA;
    --white-text-color: #ffffff;

}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
header {
    background-color: var(--white-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
body{
    font-family: 'Roboto';
}


header a.half-and-half {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin: 0 auto;
}
span.ingredient {
    color: var(--titles-color);
    
}
header li a {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 92px;
}
.gallery-list{
background-color: var(--section-background);
}
.gallery-link{
    color: var(--titles-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
    text-decoration: none;
}
main section:first-child button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    text-align: center;
}
main section h1{
    color: var(--white-text-color);
    text-align: center;
    font-family: 'Roboto';
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}
.gallery-title{
    color: var(--titles-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.gallery-paragraph {
    color: var(--main-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.section-solution{
    background: var(--titles-color);
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
}
main section p{
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
main section h3{
    background: var(--section-background);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.title-doing {
    color: var(--titles-color);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-section {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer{
    background: var(--titles-color);
}
footer a.half-and-half{
    color: var(--white-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
footer span.ingredient{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer address:nth-child(2) li{
    color: var(--white-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
}
footer address:nth-child(2) a{
    color:var(--main-text-color);
    text-decoration: none;
}