:root{
    --main-text-color:#757575;
    --titles-color:#212121;
    --accent-color:#2196F3;
    --footer-background:#2196F3;
    --section-background:#F5F4FA;
    --white-text-color: #ffffff;

}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.header {
    background-color: var(--white-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
body{
    font-family: 'Roboto';
}
li{
    display: inline-block;
}
.main-link {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    padding: 25px;
}
.ingredient {
    color: var(--titles-color);
    
}
.nav-item{
    display: inline-block;
}
.nav-link{
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3px;
    padding: 32px;
}
.nav-link:hover{
    color: var(--accent-color);
}
.list-item{
    display: inline-block;
}
.list-link{
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 32px;
}
.list-link:hover{
    color: var(--accent-color);
}
.section-solution{
    background: var(--titles-color);
    height: 600px;
    margin: 0 auto;
}
.solutions-title{
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 280px;
    text-align: center;
    align-items: center;

}
.solutions-button{
    display: block;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    width: 250px;
    height: 60px;
    padding: 20px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    margin: 30px auto; 
    text-align: center;
    border: none;
    border-radius: 4px;
}

.solution-list{
    padding-top: 94px; 
    padding-bottom: 94px;
}
.solution-item{
    padding-left: 30px;
    width: 270px;
}
.detail-title{
    background: var(--section-background);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.detail-paragraph{
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.title-doing {
    color: var(--titles-color);
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 95px;
}
.doing-image{
    width: 370px;
    padding-left: 30px;
}
.team-section {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.member-title{
    display: flex;
    justify-content: center;
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-paragraph{
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}
.team-image{
    width: 270px;
    display: flex;
    justify-content: center;
}
.section-customer{
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.customer-item{
    padding-top: 50px;
    padding-left: 70px;
}
.gallery-list{
    background-color: var(--section-background);
    }
.gallery-link{
    color: var(--titles-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.gallery-title{
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.gallery-paragraph{
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.footer{
    background: var(--titles-color);
    height: 252px;
}
.main-footer-link{
    color: var(--white-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    padding: 25px;
    text-decoration: none;
}
.footer-ingredient{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.footer-link{
    color:var(--main-text-color);
} 